.grid-list-bar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.5rem;
    margin-bottom: 5rem;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card h3 {
    margin: 16px 0;
  }