body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-image: url('C:\Users\Rdx15\Documents\IT SEM-6\Imagesphere\frontend\public\dark.webp');
}
